[Desktop Entry]
Categories=Qt;KDE;Graphics;Scanning;
Comment=Scan and save images
Exec=skanlite
GenericName=Scanning Application
Icon=org.kde.skanlite
Name=Skanlite
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=skanlite
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.skanlite
X-DocPath=skanlite/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
