[Desktop Entry]
Categories=GNOME;GTK;Network;RemoteAccess;
Comment=Access remote desktops
Exec=remote-viewer %u
GenericName=Access remote desktops
Icon=virt-viewer
MimeType=x-scheme-handler/spice;x-scheme-handler/spice+unix;x-scheme-handler/spice+tls;application/x-virt-viewer;
Name=Remote Viewer
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
